<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container body index-course">

      
  
      <div class="py-5 mx-5 text-center">
        <h2 class="text-center">
          <strong>
            Log In
          </strong>
        </h2>

        <div class="text-center">
          <a href="/auth/google" class="btn btn-primary px-5">
            <i class="fab fa-google me-3"></i> Log In with Google
          </a>
        </div>
        
      </div>
    </div>

		<%- include('../partials/footer.ejs') %>
	</body>
</html>
