<footer class="footer p-5 text-white">
  <div class="container">
    <h1 class="title">
      weibx
    </h1>
    <div class="row">
      <div class="col-10">
        Jalan Kaliurang no 56 <br>
        Yogyakarta, Indonesia <br>
        Kode Pos 56123
      </div>
      <div class="col-2 d-flex align-item-end justify-content-between">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram ml-4"></i>
        <a href="http://github.com/justdheja/weibx" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github ml-4"></i>
        </a>
      </div>
    </div>
    <hr>
    <small><strong>Copyright© 2020 Weibx Inc. All rights reserved.</strong></small>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->