<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<div class="404 my-5 py-5 text-center">
			<h1 class="mb-5">404 NotFound</h1>
			<a href="/" class="btn btn-warning">Back To Home</a>
			<img class="d-block mx-auto" src="/img/404.svg" alt="">
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
