<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container body index">

      <div class="row">
        <div class="col-6 desc">
          <div class="d-block my-auto">
            <h1 class="heading">
              Learn <br>
              anywhere, <br>
              anytime <br>
            </h1>
            <p class="subtitle">
              Online Course Application 
              for improving education quality in Indonesia.
              Embedded with Youtube Streaming.
            </p>
          </div>
        </div>
        <div class="col-6">
          <img src="img/landing.png" alt="">
        </div>
      </div>

      <div class="row mt-5 pt-5">
        <div class="col-6">
          <img src="img/instructor.svg" alt="">
        </div>
        <div class="col-6 desc">
          <div class="d-block my-auto text-right">
            <h1 class="heading">
              TOP INSTRUCTOR
            </h1>
            <p class="subtitle text-right">
              Learning from leading 
              universities and companies
              <hr class="mr-0">
              Start streaming on-demand video lectures 
              today from top instructors in subjects like 
              business, computer science, data science, 
              language learning and more.
            </p>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-6 desc">
          <div class="d-block my-auto">
            <h1 class="heading">
              SHAREABLE CERTIFICATE
            </h1>
            <p class="subtitle text-left">
              Earn industry-recognized credentials
              <hr class="ml-0">
              Demonstrate your new skills by sharing your
              Course Certificate, Professional Certificate, 
              MasterTrack Certificate, or diploma 
              with your network.
            </p>
          </div>
        </div>
        <div class="col-6">
          <img src="img/certificate.svg" alt="">
        </div>
      </div>
  
      <div class="my-5 py-5 text-center d-flex justify-content-center">
        <a href="/course" class="btn btn-primary d-flex justify-content-center align-items-center">
          View All Course
        </a>
      </div>
    </div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
